<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.holymoly">
    <!-- 패키지 경로 추가 -->
    <uses-permission android:name="android.permission.ACCEPT_INTERNET" />
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 외부 저장소 허용 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 구글 STT 허가 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HolyMoly"
        tools:targetApi="31">
        <activity
            android:name=".WordGameThemeActivity"
            android:exported="true" />

        <activity
            android:name=".DrawStoryAlone"
            android:exported="true" />
        <activity
            android:name=".StoryWorldActivity"
            android:exported="true" />
        <activity
            android:name=".MakeStoryAloneActivity"
            android:exported="true" />

        <service
            android:name=".SoundService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".StartPuzzleActivity"
            android:exported="true" />
        <activity
            android:name=".MakeDrowDiaryActivity"
            android:exported="true" />
        <activity
            android:name=".AlbumDiaryActivity"
            android:exported="true" />
        <activity
            android:name=".MakeDiaryActivity"
            android:exported="true" />
        <activity
            android:name=".PuzzleActivity"
            android:exported="true" />
        <activity
            android:name=".SelectPuzzleActivity"
            android:exported="true" />
        <activity
            android:name=".WordGameReadyActivity"
            android:exported="true" />
        <activity
            android:name=".WordGameActivity"
            android:exported="true" />
        <activity
            android:name=".DiaryActivity"
            android:exported="true" />
        <activity
            android:name=".ReadBookActivity"
            android:exported="false" />
        <activity
            android:name=".CustomCharacterActivity"
            android:exported="false" />
        <activity
            android:name=".CustomThemeActivity"
            android:exported="false" />

        <service
            android:name=".MusicService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".VoiceActivity"
            android:exported="true" />
        <activity
            android:name=".JoinActivity"
            android:exported="true" />
        <activity
            android:name=".StartActivity"
            android:exported="true" />
        <activity
            android:name=".ResetPasswordActivity"
            android:exported="true" />
        <activity
            android:name=".FindPasswordActivity"
            android:exported="true" />
        <activity
            android:name=".HomeActivity"
            android:exported="true" />
        <activity
            android:name=".Home2Activity"
            android:exported="true" />
        <activity
            android:name=".InfoActivity"
            android:exported="true" />
        <activity
            android:name=".WorldActivity"
            android:exported="true" />
        <activity
            android:name=".SettingActivity"
            android:exported="true" />
        <activity
            android:name=".TrophyActivity"
            android:exported="true" />
        <activity
            android:name=".AchieveActivity"
            android:exported="true" />
        <activity
            android:name=".SelectthemaActivity"
            android:exported="true" />
        <activity
            android:name=".SelectcharacterActivity"
            android:exported="true" />
        <activity
            android:name=".SelectversionActivity"
            android:exported="true" />
        <activity
            android:name=".MakeStoryActivity"
            android:exported="true" />
        <activity
            android:name=".AlbumActivity"
            android:exported="true" />
        <activity
            android:name=".RegistrationActivity"
            android:exported="true" />
        <activity
            android:name=".MaketitleActivity"
            android:exported="true" />
        <activity
            android:name=".MakeBookcoverActivity"
            android:exported="true" />
        <activity
            android:name=".SelectGameActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>